html, body {
  height: 100%;
}

#root, body, html {
  height: 100%;
  background: #F0F2F5;
}

.login__form {
  max-width: 320px;
  position: absolute;
  top: 45%;
  left: 50%;
  margin: -160px 0 0 -160px;
  width: 320px;
  height: 250px;
  padding: 36px;
  box-shadow: 0 0 100px rgba(0,0,0,.08);
}

.login__inner_form {
  cursor: pointer;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
}

.form-item {
  box-sizing: border-box;
  padding: 0;
  color: #666;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  margin: 0 0 24px;
  vertical-align: top;
}